* {
  margin: 0;
  border: 0;
  font-family: "Quicksand";
  color: grey;
}

h1 {
  text-align: center;
}

/*loader*/

.loader {
  display: grid;
  justify-content: center;
  margin-top: 25vh;
  color: rgb(132, 132, 226);
}
/*end loader*/

/*display-user*/

#heading{
  margin-top: 2rem;
}

.display-user-block {
  margin: 2vh 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  overflow: hidden;
}

.user-table {
  text-align: center;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  border-collapse: collapse;
}

.user-table td,
th {
  border: 1px solid gray;
  padding: 20px;
}
/*end display-user*/

/* add-button */

.add-button-container {
  margin-bottom: 1rem;
  position: relative;
  left: 800px;
}

/* end add-button */

/* generic button */

.button-container {
  padding: 10px;
}

.general-button {
  height: 25px;
  width: 80px;
  border-radius: 10%;
  background-color: rgb(233, 89, 89);
  color: #fff;
}
/* end generic button */

/* add user form */

#add-heading{
  padding-bottom: 20px;
}

.add-user-form {
  overflow: hidden;
  background: #fff;
  width: fit-content;
  padding: 80px;
  margin: 10vh 30vw;
  box-shadow: 0px 2px 38px rgba(246, 67, 67, 0.2);
  height: 350px;
  display: flex;
  justify-content: center;
}

.add-user-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-container {
  display: block;
  margin-top: 1rem;
}

.add-user-form button[type="submit"]{
  margin-top: 20px;
}

.input-box {
  width: 269px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-user-form label {
  width: 150px;
  margin-right: 5%;
  font-weight: bolder;
  font-size: 24px;
}

.error-form-msg {
  color: red;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* end add user form */
